<div class="category-form">
    <div id="page-header" class="h1 mb-4 pb-0 pb-sm-3 px-3 px-sm-0 text-center text-sm-start">
        Создание категории расходов
    </div>
    <div class="main-form-group">
        <div class="input-group mb-3 justify-content-sm-start justify-content-center">
            <input id="title" title="Надмите Enter для подтверждения или ESC для отмены." type="text" class="form-control rounded-1 px-3 py-2 lh-1" placeholder="Название..." aria-label="Название..."
                   aria-describedby="basic-addon1">
            <div class="invalid-feedback">
                Поле не может быть пустым или начинаться с пробела.
            </div>
        </div>
        <div class="mt-1 text-sm-start text-center">
            <button id="btn-action" type="button" class="btn btn-success me-2 lh-1">Создать</button>
            <button id="btn-cancel" type="button" onclick="document.location='#/expenses'" class="btn btn-danger">Отмена</button>
        </div>
    </div>
</div>