<div class="category-list">
    <div class="h1 mb-4 pb-0 pb-sm-3 text-center text-md-start">
        Расходы
    </div>
    <div id="cards-element" class="cards d-flex flex-row flex-wrap px-0 justify-content-center justify-content-md-start">

    </div>


    <div class="modal" tabindex="-1" id="modalCenter">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <p class="text-center fs-5 mx-3 mt-3">Вы действительно хотите удалить категорию? Связанные расходы будут удалены навсегда.</p>
                    <div class="d-flex gap-2 justify-content-center mb-3">
                        <button id="btn-confirm" type="button" class="btn btn-success me-1" data-bs-dismiss="modal">Да удалить</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Не удалять</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>